body
{
    margin: 0px;
}
div
{
    width: 75%;
    padding: 0px; 
    margin: 0px auto;

}
ul li
{
    list-style: none;
    background-color:rgba(0,0,0,0.6);
    color: white;
    
    
    width: 200px;
    float: left;
     height: 50px;
 text-align: center;
    line-height: 50px;
    font-size: 25px;
    
    
}
ul
{
    padding: 0px;
}
 li:hover > ul
{
    
    display: block;
    
} 
ul li ul
{
    display: none;
}
li:hover{
font-size: 20px;
    background-color: #32cd32;
    ;opacity: 0.9;
    margin: 1px;
}
ul li  ul li
{
    position: relative;
}
ul li  ul li ul
{
    position: absolute;
    left: 200px;
    top: 0px;
}